AI Mentor Chatbot for Innomatics (Telegram + n8n).json
{
  "name": "AI Mentor Chatbot for Innomatics (Telegram + n8n)",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -592,
        -112
      ],
      "id": "c803c195-01a0-40dc-8809-94c7d87a0c78",
      "name": "Telegram Trigger",
      "webhookId": "7312834b-d8c9-42cf-8c03-59c2f2a8d204",
      "credentials": {
        "telegramApi": {
          "id": "e9BP8mFyjWtDQrP1",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.chat.id }}",
        "contextWindowLength": 50
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -16,
        160
      ],
      "id": "1d7b4471-9c7d-41d0-9869-6edff244f467",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        480,
        -112
      ],
      "id": "e2ac2118-c62b-4588-8666-ebcbb7eb4401",
      "name": "Send a text message1",
      "webhookId": "3ec80396-f778-41e3-9a43-e9b8cea22327",
      "credentials": {
        "telegramApi": {
          "id": "e9BP8mFyjWtDQrP1",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=User Message : {{ $json.message.text }}\n\nNow respond to the message in a polite an Professional way and ask for the Module Selection, \nThen Start the Conversation to make the user completely clear of their doubt.",
        "options": {
          "systemMessage": "You are a Smart AI assistant Mentor at Innomatics Research Labs Training Institution, who had lot of IT experience, Knowledge and Expertise. For the first message you need to greets student and ask in which module they need help among [python, EDA, Machine Learning and Deep Learning] and answer only to these topics."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -112,
        -112
      ],
      "id": "c956e1bf-a3e6-41bb-8808-3aa5919a841d",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -192,
        96
      ],
      "id": "fca4b018-6f72-4f6a-859c-865b0a3aad3e",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "wv4mhnRiUBMfeDPq",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "content": "## AI Mentor Chatbot for Innomatics (Telegram + n8n)",
        "height": 640,
        "width": 1568,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -816,
        -320
      ],
      "typeVersion": 1,
      "id": "fefb49d3-0c52-4852-88be-dd47982c224e",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## **Telegram Send Node:**\n// Sends the AI response back to the user\n// Input: response from AI Agent\n",
        "height": 352,
        "width": 288,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        384,
        -256
      ],
      "typeVersion": 1,
      "id": "fa65e029-f68b-41f5-98ee-0c607a5cd53c",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## **Trigger node:** \nreceives Telegram messages to start the workflow.",
        "height": 320,
        "width": 400,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -720,
        -224
      ],
      "typeVersion": 1,
      "id": "1c5a6a72-17f3-46dd-acc9-1eb83b225229",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## **AI Agent Node:** \n// 1. Receives user query\n// 2. Sends it to Google Gemini Chat Model\n// 3. Optionally stores context in Simple Memory for future reference\n// 4. Outputs formatted response\n",
        "height": 528,
        "width": 592,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -272,
        -256
      ],
      "typeVersion": 1,
      "id": "8b95f47e-d4f0-4772-9895-d8de26be4160",
      "name": "Sticky Note3"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message1": {
      "main": [
        []
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "860b9b75-b0ab-40c1-b4d9-4f1cecacee62",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c480dce606af8941d237e725b3a3b1668cd3c0d796d53a2474b2d3f015475cf3"
  },
  "id": "OcCK0gqGmgz1JPmH",
  "tags": []
}